@page "/"

@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="CheckInternet">Check Internet</button> *@

@* <ShareRazorClassLibraryForAll.Component1 /> *@

<ShareRazorClassLibraryForAll.Blog.BlogCurdComponent />

@code{

    // private async void CheckInternet()
    // {
    //     var hasInternet = Connectivity.Current.NetworkAccess == NetworkAccess.Internet;

    //     var internetType = Connectivity.Current.ConnectionProfiles.FirstOrDefault();

    //     await Application.Current.MainPage.DisplayAlert("Internet", $"Status: {hasInternet} of type {internetType}", "OK");
    // }

}



